body {
    background: #f0f2f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-custom {
    background: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    padding: 0.8rem 2rem;
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: #111827;
    margin-right: 1rem;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    color: #2758e0;
}

.navbar-nav .nav-link:hover {
    color: #2563eb;
}

.btn-custom {
    background: #2563eb;
    color: #fff;
    border-radius: 4px;
    padding: 0.5rem 1.5rem;
    transition: 0.3s;
    width: 200px;
    margin: 0 auto;
}

.btn-logout {
    width: 110px;
    font-size: 14px;
    background: rgb(218, 2, 2);
    text-align: center;
    padding: 6px;
}

.btn-custom:hover {
    background: #1d4ed8;
    color: #fff;
}

.btn-logout:hover {
    background: rgb(221, 53, 53);
}

.card-dashboard {
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: transform 0.2s, box-shadow 0.2s;
    background: linear-gradient(135deg, #ffffff 0%, #f7f9fc 100%);
}

.card-dashboard:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.12);
}

.card-dashboard i {
    font-size: 2.5rem;
    color: #2563eb;
    margin-bottom: 1rem;
}

h1.dashboard-title {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 600;
    color: #111827;
}

.alert {
    margin: 10px;
    border-radius: 0.75rem;
    font-weight: 500;
}


#navbarContent {
    margin-left: 50px;
}

main {
    padding: 10px 0;
}


.form-errors {
    margin-bottom: 8px;
}

.form-error {
    color: red;
    display: block;
    font-weight: bold;
}
